html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #74ebd5;
  background-image: -webkit-linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  background-image: -moz-linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  background-image: -o-linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.wrapper {
  width: 400px;
  background-color: gray;
  color: white;
}

.screen {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  background-color: black;
}

.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button {
  background-color: #d8d9db;
  color: black;
  height: 100px;
  flex-basis: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.double {
  flex-basis: 49.7%;
}

.triple {
  flex-basis: 74.8%;
}

.calc-button:last-child {
  background-color: #df974c;
  color: white;
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button:last-child:active {
  background-color: #dd8d37;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.abs-center {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
}

footer a {
  color: gray;
  text-decoration: none;
}
